*{
	margin:0;
	padding:0;
	font-weight: 300;
}
body{
	background:#282a36;
	height: 100%;
}


menu {
	background: #00171f;
	color: #ffffff;

	display: flex;
	align-items: left;
	justify-content: left;
	margin-bottom: 30px;
}
menu a{
	text-decoration: none;
	color: #ffffff;
	text-transform: capitalize;
	font-size: 16px;

	padding:15px;
	
	border-bottom: solid 1px #00171f;
}
menu a:hover{
	border-bottom: solid 1px #44475a;

	padding-bottom: 14px;
}


login, register, create-fiche{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
form{
	width: calc(20em + 20px);
}
input, textarea, button{
	display: block;
	width:100%;
	border: 0;
	padding: 0 10px;
	color: #fff;
	background:none;
	font-size: 15px;
	height: 40px;
	outline: none;
	box-sizing: border-box;
	margin-bottom: 10px;
	border: solid 1px #00171f;
	resize: none;
}
textarea{
	height: calc(40px * 3);
	padding: 10px;
}
input:focus, textarea:focus{
	background: #00171f;
}
input[type=submit], button{
	cursor: pointer;
	background: #44475a;
	width:100%;
	margin-top:15px;
}
button{
	width: calc(15em);
}
input[type=submit]:hover, button:hover{
	background: #003459;
}

notifications{
	position: fixed;
	top: 70px;
	left: 10px;
}
notifications notif{
	color: #ffffff;
	padding: 10px;
	display: table;
	background: #44475a;
	margin-bottom: 10px;
}
notifications notif:first-child{
	animation: fadeOut 5s ease 1s;
	animation-timing-function: ease-out;
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.badge {
	position:relative;
}
.badge[data-badge]:after {
	content:attr(data-badge);
	position:absolute;
	top:5px;
	right:-5px;
	font-size:.7em;
	background:green;
	color:white;
	width:18px;height:18px;
	text-align:center;
	line-height:18px;
	border-radius:50%;
	box-shadow:0 0 1px #333;
}


panel{
	padding:15px;
	display: block;
	padding-top: 0;
}
panel projects{
	display: block;
	border-top: solid 1px #00171f;
	margin-top: 30px;
}
panel projects project{
	display: block;
	padding:15px;
	border-bottom: solid 1px #00171f;
}
panel projects project a{
	text-decoration: none;
	color:white;
}
panel projects project:hover{
	text-decoration: underline;
	cursor: pointer;
}

project-editor{
	display: block;
}
project-editor textarea{
	flex-basis:50%;
	display: block;
	margin-bottom: 0;
	overflow: hidden;
}
project-editor render{
	flex-basis:50%;
	display: flex;
}
project-editor render div{

}





/*internet explorer scrollbalken*/
*, body{
	scrollbar-base-color: #C0C0C0;
	scrollbar-base-color: #C0C0C0;
	scrollbar-3dlight-color: #C0C0C0;
	scrollbar-highlight-color: #C0C0C0;
	scrollbar-track-color: #EBEBEB;
	scrollbar-arrow-color: black;
	scrollbar-shadow-color: #C0C0C0;
	scrollbar-dark-shadow-color: #C0C0C0;
}
/*mozilla scrolbalken*/
@-moz-document url-prefix(http://),url-prefix(https://) {
	scrollbar {
		-moz-appearance: none !important;
	}
	thumb,scrollbarbutton {
		-moz-appearance: none !important;
	}

	scrollbarbutton {
		display: none !important;
	}
}
/*chrome*/
::-webkit-scrollbar {
	background-color: #e0e0e0;
	max-width:11px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border: solid 2px #e0e0e0;
	border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
