${include('menu')}

<needToBeValidate>
${needToBeValidate.map(project=>`<project>${project.project.title} ${project.project.description}</project><button href="validateProject?id=${project._id}">Valider</button>`)}
</needToBeValidate>