${include('menu')}

<projects>
${projects.map(project=>`
	<project>
		${project.project.title} ${project.project.description}
		<button href="project?id=${project._id}">Voir le projet</button>
	</project>
`)}
</projects>