${include('menu')}

<login>
	<form action="login">
		<input type="pseudo" name="pseudo" placeholder="Pseudo (case sensitive)" value="${form.pseudo}"/>
		<input type="password" name="password" placeholder="Mot de passe (case sensitive)" value="${form.password}"/>
		<input type="submit" value="Se connecter"/>
	</form>
</login>
