<menu>
	<a href="index" class="badge" data-badge="17">index</a>
	${isLogged ? '<a href="panel">panel</a><a href="disconnect">disconnect</a>' : '<a href="login">login</a><a href="register">register</a>'}
</menu>

${include('notifications')}