${
	('undefined' !== typeof notifications)
	?
	'<notifications>'+notifications.map(m=>'<notif>'+m+'</notif>').join('')+'</notifications>'
	:
	''
}
<script>
	
	for(let notif of Array.from(document.querySelectorAll('notifications notif')))
	{
		notif.addEventListener('click', ()=>notif.parentNode.removeChild(notif))
	}

	const deleteFirstNotif = ()=>
	{
		const e = document.querySelector('notifications notif:first-child');
		if(e){
			e.addEventListener('animationend', ()=>{
				e.parentNode.removeChild(e);
				deleteFirstNotif();
			});
		}
	}
	deleteFirstNotif()
</script>
