${include('menu')}

<panel>
	<button href="create-fiche">Create a new fiche</button>
	<projects>
		${
			projects.map(project=>`

			<project>
				<a href="project?${project._id}">${project.title} - ${project.description}</a>
			</project>

			`).join('')
		}
	</projects>
</panel>
