${include('menu')}

<h2>${project.title}</h2>
<p>
	${project.description}
</p>
${
actions.indexOf('edit') !== -1 ? `
<project-editor>
	<code>${JSON.stringify(project, null, 2).replace(/\n/g, '<br>').replace(/  /g, '&nbsp;&nbsp;')}</code>
</project-editor>
` : ''
}
${
actions.indexOf('accept') !== -1 ? `
<a href="acceptProject?id=${project.id}">Démarrer le projet</a>
` : ''
}