${include('menu')}

<register>
	<form action="register">
		<input type="text" name="pseudo" placeholder="Pseudo (case sensitive)" value="${form.pseudo}"/>
		<input type="password" name="password" placeholder="Mot de passe (case sensitive)" value="${form.password}"/>
		<input type="submit" value="S'inscrire"/>
	</form>
</register>
